*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: lightslategrey;
}
.container{
    width: 600px;
    margin: 30px auto;
}
.list{
    color: black;
    border: 1px solid lightcoral;
    border-radius: 10px;
    background-color: white;
}
.task{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.task > a{
    float: right;
}
img{
    width: 20px;
}
.task > input{
    transform: scale(1.5);
    margin-right: 10px;
}
.task:hover{
    background-color: lightsalmon;
}
/**/
.done{
    background-color: #51b1d4;
}
.done > a{
    display: none;
}
.done:hover{
    background-color: #338dad;
}
/*tarea realizada*/
.delete > input{
    display: none;
}
.delete > span{
    margin-left: 32px;
    color: #ddd;
    text-decoration:line-through red;
}
.delete > a{
    display: none;
}

/*form*/
.form{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.form > input[type='text']{
    width: 75%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin-left: 5%;
}
.form > input[type='button']{
    width: 19%;
    cursor: pointer;
    border: 1px dashed #ddd;
    height: 26px;
    border-radius: 10px;
    background-color: white;
}
.form > input[type='button']:hover{
    background-color: #ddd;
}