*{
    margin: 0;
    padding: 0;
}
:root{
    --sunglow-color: #fecb01;
    --orange-color: #fa550c;
    --white-color: #f3fcfa;
    --brown-sugar-color: #b26244;
    --polished-color: #63a496;
    --capri-color: #3ebdfc;
    --gray-color: #bab8ad;
    /*Fuentes*/
    --font-fraunces: 'Fraunces', sans-serif;
    --font-barlow: 'Barlow', sans-serif;
}
header{
    background-color: var(--capri-color);
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.button{
  width: 30px;
  background-color: var(--capri-color);
  border: none;
  display: none;
}
ul {
    display: flex;
    list-style: none;
  }
ul > li{
    margin: 20px;
}
ul > li a{
    font-family: var(--font-bariow);
    text-decoration: none;
    color: var(--white-color);
}
.contact{
    font-family: var(--font-fraunces);
    background-color: var(--white-color);
    color: black;
    padding: 10px;
    border-radius: 25px;
}

/**----------------------MAIN----------------------**/
/**--------presetacion-------*/
.bg-orange {
    height: 60vh;
    background: url("./img/desktop/image-header.jpg");
    background-color: var(--capri-color);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    color: var(--white-color);
    font-family: var(--font-fraunces);
    font-size: 4em;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  
  .second-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .second-container div {
    height: 60vh;
    width: 50%;
  }
  
  .bg-egg {
    background: url("./img/desktop/image-transform.jpg");
  }
  
  .bg-cup {
    background: url("./img/desktop/image-stand-out.jpg");
  }
  
  .bg-cherry {
    background: url("./img/desktop/image-graphic-design.jpg");
  }
  
  .bg-orange-complete {
    background: url("./img/desktop/image-photography.jpg");
  }
  
  .child {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
  }
  section h4 {
    font-family: var(--font-fraunces);
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  
  section p {
    font-family: var(--font-barlow);
    font-weight: 600;
    color: var(--gray-color);
    margin-bottom: 30px;
  }
  
  section a {
    font-family: var(--font-fraunces);
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
  }
  
  section a:hover {
    box-shadow: 0 4px 6px -6px var(--sunglow-color);
    width: 115px;
  }
  
  .bottom {
    justify-content: end;
  }
  
  .bottom h4 {
    font-size: 1.5em;
    text-align: center;
  }
  
  .bottom p {
    color: #000;
  }

  /*****TESTIMONIALS******/

  .bg-testimonio{
    height: 60vh;
    display: flex;
    flex-direction: column;
  }
  .title2{
    font-weight: 900;
    font-family: var(--font-fraunces);
    color: var(--gray-color);
    display: flex;
    flex-grow: 1.5;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: 4px;
    
  }
  .contenido{
    flex-grow: 2;
  }
  .contenido{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contenido-testimonio{
    
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contenido-testimonio img{
    width: 50px;
    border-radius: 50%;
  }

  .contenido-testimonio p{
    color: rgb(94, 93, 93);
    font-family: var(--font-bariow);
    font-weight: 300;
    text-align: center;
    margin: 50px 20px;
  }
  .contenido-testimonio span{
    color: var(--gray-color);
    margin-top: 10px;
  }
  

/**------------MOSTRARIO------------------------*/
.bg-products{
  background-color: #63a496;
  height: 40vh;
  display: flex;
}
.item-products{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.img1{
  background-image: url(./img/desktop/image-gallery-milkbottles.jpg);
}
.img2{
  background-image: url(./img/desktop/image-gallery-orange.jpg);
}
.img3{
  background-image: url(./img/desktop/image-gallery-cone.jpg);
}
.img4{
  background-image: url(./img/desktop/image-gallery-sugarcubes.jpg);
}

/**--------------------FOOTER-----------------------------*/
.bg-footer{
  background-color: var(--polished-color);
  height: 30vh;
  display: flex;
  flex-direction: column;
}
.title3{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
}
.title img{
  width: 10px;
}
.nav-footer{
  font-family: var(--font-barlow);
  margin-top: 30px;
  text-align: center;
  flex-grow: 1.5;
}
.link-footer{
  color: #367468;
  text-decoration: none;
  padding: 0px 20px;
  
}
.link-footer:hover{
  color: var(--white-color);
}
.networks{
  flex-grow: 2;
  display: flex;
  justify-content: center;
}
.networks .link-networks{
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 10px 20px;
}
.link-networks svg:hover path{
  fill:var(--white-color); 
}
@media only screen and (max-width: 992px) {

  /**NAV*/
  ul{
    flex-direction: column;
    display: none;
  }
  .button{
    display: flex;
  }

  /**Presentacion*/
  .bg-orange{
    background-image: url(./img/mobile/image-header.jpg);
  }
  .title{
    font-size: 2.5em;
    margin-bottom: 50px;
  }
  .second-container{
    width: 100vw;
    flex-direction: column;

  }
  
  .second-container div{
    
    width: 100%;
  }
  section{
    width: 80%;
    text-align: center;
  }
  section p{
    color: #7E7E87;
    line-height: 1.5em;
  }
  .bg-egg{
    order: -1;
    background-image: url(./img/mobile/image-transform.jpg);
  }
  .bg-cup{
    background-image: url(./img/mobile/image-stand-out.jpg);
  }
  .bg-cherry{
    background-image: url(./img/mobile/image-graphic-design.jpg);
  }
  .bg-orange-complete{
    background-image: url(./img/mobile/image-photography.jpg);
  }
  .child{
    background-size: cover;
  }

  /**Testimonials*/
  .bg-testimonio{
    height: auto;
    gap: 5em;
    margin-bottom: 5em;
  }
  .contenido{
    flex-direction: column;
    gap: 5em;
    justify-content: space-around;
  }
  .contenido-testimonio{
    width: auto;
  }
  .contenido-testimonio h4{
    font-weight: 900;
  }
  .title2{
    height: 10em;
    font-size: 0.7em;
  }
  .contenido-testimonio p{
    margin: 30px 20px;
  }

  /** Mostario*/
  .bg-products{
    flex-wrap: wrap;

  }
  .item-products{
    width: 50%;
    height: auto;
  }


}
@media only screen and (max-width: 992px){

}





