/* *Navegador*/
.menu_item{
    display: inline;
}
.menu{
    padding: 10px;
    background-color: #73777B;
}
.menu_link{
    color: #cccccc;
    text-decoration: none;
}
.table{
    position: relative;
    top: 150px;
}

header{
    width: 97.4%;
    position: fixed;
    z-index: 1;
}
/* * Valores de caja para la Tabla*/
body{
    margin-right: 20px;
    margin-left: 20px;
}
.columna, table{
    border-collapse: collapse;
    padding: 17px;
}
.fila .item{
    padding: 10px;
    font-family: 'Roboto-Mono';
    font-family: 'Signika Negative', sans-serif;
}
table{
    width: 100%;
}
    table, .item, .columna{
    border: 1px solid #cccccc;
}
.columna1{
    width: 25%;
}
.columna2{
    width: 30%;
}
.columna3{
    width: 25%;
}
.columna4{
    width: 20%;
}
/* *estilos de la columna de los ejemplos*/
.ejemplo{
   background-color: lightgray;
}

/* * valores de color*/
.columna{
    color: #73777B;
    font-size: xx-large;
    font-family: 'Teko-Light', sans-serif;
    font-weight: 600;
    letter-spacing: 2.5px;
}
.cabecera{
    background-color: rgb(217, 213, 213);
}


/* * Tipografia*/

@font-face {
    font-family: 'Teko-Bolde';
    src: url(../fonts/Teko-Bold.ttf);
}
@font-face{
    font-family: 'Teko-Light';
    src: url(../fonts/Teko-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Mono';
    src: url(../fonts/RobotoMono-Italic-VariableFont_wght.ttf);
}
/* * Estilos de los nombres de las propiedades*/
b{  
    font-family: 'Inconsolata', monospace;
    color: #0095eb;
    font-size: 1.2em;
    font-weight: 700;
    border: 1px solid #e8e8e8;
    padding: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
code{
    display: block;
    margin-top: 10px;
}
.item_prop{
    text-align: center; 
    align-items: center;
}
.item span{
    display: inline-block;
}

/* *estilos de encabezado de los temas*/
.item_tema{
    padding: 5px 5px;
    font-size: xx-large;
}

/* *ejemplo de posiction*/
.padre, .hijo{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.padre{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: relative;
}
.hijo{
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
}

/* *ejemplo de display Bandera de portugal*/
.bandera{
    height: 100px;
    border: solid;
    position: relative;
}
.verde{
    background-color: green;
    height: 100px;
    width: 40%;
    float: left;
}
.rojo{
    background-color: red;
    height: 100px;
    width: 60%;
    float: right;
}
.escudo{
    background-image: url(../img/portugal.svg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(40% - 20px);
}